* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    /* This would have same effect as adding margin: 0 auto in .menu; it essentially centers element */
    /* Values: center, flex-start (push to left), flex-end (push to right), space-around, space-between */
    justify-content: center;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    padding: 5px 15px;
    /* Makes the item a container too */
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }

  .login {
    /* margin still work as they do without flex */
    margin-left: 20px;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;  
  }

  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    /* Values: center, flex-start, flex-end, stretch, baseline */
    /* Stretch allows you to display the background of each element (stretches to fix the height) */
    align-items: center;
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    /* These two wrap and center the objects in the container */
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }

  /* This works by editing the properties of the given elements */
  /* This works across rows AND columns, unlike flex-direction (so this shows 5 2 3, then 4 1) */
  .first-item {
    order: 1;
  }

  .last-item {
    order: -1;
  }

  .social,
  .subscribe {
    /* This allows the item to align itself and be different from the container */
    /* Overrides align-items in container */
    /* Values are the same as align-items */
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }